@keyframes bg-filter {
    0% {
    }
    100% {
        filter: blur(5px);
    }
}

@keyframes fade-in-content {
    0% {
    }
    100% {
        opacity: 1;
        background-color: rgba(51, 51, 51, 0.3);
        color: #fff;
    }
}
